<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kuttob"
        tools:targetApi="31">
        <activity
            android:name=".kuttob_cart"
            android:exported="false" />
        <activity
            android:name=".kuttob_admin_delete"
            android:exported="false" />
        <activity
            android:name=".kuttob_admin_update"
            android:exported="false" />
        <activity
            android:name=".kuttob_admin_add"
            android:exported="false" />
        <activity
            android:name=".kuttob_admin"
            android:exported="false" />
        <activity
            android:name=".kuttob_book_details"
            android:exported="false" />
        <activity
            android:name=".kuttob_splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kuttob_register"
            android:exported="false" />
        <activity
            android:name=".kuttob_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>